<h2 class="text-center">3-6 August 2023</h2>
<h2 class="text-center">Cluj-Napoca, Transylvania, Romania</h2>

<h3 class="text-center">First LineUp for 2023</h3>


<div class="carousel-container">

<ngb-carousel>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/imaginiNoi/kshmr.jpeg" alt="KSHMR" width="400" height="270"/>
		</div>
		<div class="carousel-caption">
			<h3>KSNMR</h3>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/imaginiNoi/david4.jpeg" alt="Random second slide" width="380" height="350" />
		</div>
		<div class="carousel-caption">
			<h3>DAVID GUETTA</h3>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="assets/imaginiNoi/armin4.jpg" alt="Random third slide" width="350" height="250"  />
		</div>
		<div class="carousel-caption">
			<h3>ARMIN VAN BUUREN</h3>
		</div>
  	</ng-template>


    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="assets/imaginiNoi/martin4.jpeg" alt="Random third slide" width="280" height="250"/>
        </div>
        <div class="carousel-caption">
          <h3>MARTIN GARRIX</h3>
        </div>
    </ng-template>

    <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="assets/imaginiNoi/salvatore4.jpeg" alt="Random third slide" width="350" height="250"/>
          </div>
          <div class="carousel-caption">
            <h3>SALVATORE GANACCI</h3>
          </div>
    </ng-template>

</ngb-carousel>
</div>






  