h1{
    color: green
}

.butoane{
    text-align: right;
    background-color: transparent;
}

.container{
    background-image: url("./imagini/img11.jpg");
    background-size: cover;
    height: 200px;
    background-position: center;
}


